//
//  Config.xcconfig
//  TuistSample
//
//  Created by Hangyeol on 2023/06/27.
//  Copyright © 2023 tuist.io. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
INFOPLIST_KEY_CFBundleDisplayName = $(BASE_DISPLAY_NAME)

MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1


// MARK: User-Defined

API_BASE_URL = https:/$()/gyeolee.io
BUNDLE_URL_SCHEME = tuistsample
