//
//  Config.xcconfig
//  TuistSample
//
//  Created by Hangyeol on 2023/06/27.
//  Copyright © 2023 tuist.io. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = io.gyeolee.tuistsample
PRODUCT_NAME = Tuist
